{% extends 'base.html' %} {% block title %}Products - My Website{% endblock %}
{% block content %}
<h1>Our Products</h1>
<div class="product-section">
  <div class="product-grid">
    {% for product in products %}
    <a
      href="{{ url_for('product_detail', product_id=product.id) }}"
      class="product-box"
      style="background-image: url('{{ product.image_url }}');"
    >
      <div class="info">
        <h4>{{ product.title }}</h4>
        <p>{{ product.description }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<script>
  // Declare the `profileData` variable in the global scope

  async function loadProfile() {
    let profileData;

    const token = localStorage.getItem("token");
    if (!token){

      alert("Failed to load profile. Please login again.");
      window.location.href = "/login";
      
    }
    try {
      if (token) {
        const response = await fetch("/api/profile", {
          method: "GET",
          headers: { Authorization: `Bearer ${token}` },
        });
        if (response.ok) {
          profileData = await response.json(); // Assign profile data to the global variable
          console.log("profileData:", profileData);
          return profileData
         
         
        } else {
          alert("Failed to load profile!. Please login again.");
          window.location.href = "/login";
        }
      } 
    } catch (error) {
      console.error("Error:", error);
    }
  }

  
  // Ensure the DOM is fully loaded before executing
  document.addEventListener("DOMContentLoaded", async function () {
    const profileData = await loadProfile(); 
    if (profileData){

      window.chathead.initialize({ //Once we have any unique id for the loggedin user we can initialize AddChat.
            uid: profileData.username,
          });
    }
  });
</script>

{% endblock %}
